extends layout

block content
  .w3-container.w3-brown.w3-center
    br
    header.w3-container.w3-brown
      h1 
        b Express JS App - PRI18
    form.w3-input(id='formulario')
      button.w3-button(id='subm') subm